*.pyc
backend/postgres-data
frontend/node_modules
frontend/dist
frontend/.nuxt
frontend/.output
backend/ai_models
node_modules
backend/gatewaycpp
backend/redis-data
*.log
archive/
*.db
plan.md
*.env
backend/htr_storage/